@import "tailwindcss";

body {
  margin: 0;
  background-color: var(--color-foreground);
}

@theme {
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-google-sans: "Google Sans", sans-serif;

  --color-foreground: #ffffff;
  --color-background: #090909;
  --color-primary: #7b00ff;
  --color-primary-deep: #3d0080;
  --color-primary-mid: #5b00b5;
  --color-primary-bright: #a040ff;
  --color-primary-aurora: #7711dd;
}
